.app {
  padding: 5vw;
  max-width: 960px;
  margin: 0 auto;

  &__headline {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
  }

  &__product-container {
    display: flex;
    flex-wrap: wrap;
  }
}