@import '../../../scss/variables';

.product {
  $parent: &;
  position: relative;
  flex: 0 0 calc(25% - 20px);
  max-width: calc(25% - 20px);
  background-image: radial-gradient(at top right, $green--lightest, $green--light);
  border-radius: 10px;
  color: white;
  margin: 0 10px 20px;
  box-shadow: 0 6px 7px 1px rgba($green--dark, .1);
  transition: box-shadow .2s ease-out;

  &--open {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 6px 7px 1px rgba($green--dark, .5);
    z-index: 1;
  }

  &--faded {
    opacity: .5;
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 6px 7px 1px rgba($green--dark, .3);
  }

  @media screen and (max-width: 992px) {
    flex: 0 0 calc(33% - 20px);
    max-width: calc(33% - 20px);
  }

  @media screen and (max-width: 768px) {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  @media screen and (max-width: 480px) {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 20px;
  }

  &__image-wrapper {
    background: rgba(255,255,255,.25);
    text-align: center;
  }

  &__image {
    display: block;
    height: 100px;
    padding: 20px;
    margin: 0 auto;
  }

  &__info {
    padding: 0 20px;
  }

  &__name,
  &__type {
    margin: 5px 0;
  }

  &__name {
    margin-top: 20px;
  }

  &__type {
    margin: 0 0 5px;
    font-size: .75rem;
  }

  &__description {
    margin-top: 0;
    font-size: .8rem;
  }

  &__details-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: none;
    border: none;
    opacity: 0;
    padding: 0;

    #{$parent}:hover &,
    #{$parent}:focus-within & {
      opacity: 1;
    }

    &:focus,
    &:hover {
      transform: scale(1.2);
    }

    &:before,
    &:after {
      position: absolute;
      left: 0;
      top: 50%;
      content: '';
      width: 10px;
      height: 1px;
      background: black;
      transform: translateY(-50%) rotate(-45deg);
    }

    &:after {
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &__extended-info {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 0 20px;
    background-image: radial-gradient(at bottom right, $green--lightest, $green--light);
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px; // Whitespace to bottom of window
    box-shadow: 0 9px 7px 1px rgba($green--dark, .3);
    display: none;

    #{$parent}--open & {
      display: block;
    }
  }
}