@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap');
@import './variables';

html {
  font-size: 16px;
  color: $green;
  font-family: 'Oxygen', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}


