.product-ingredients {
  font-size: 0.75rem;

  &:last-child {
    margin-bottom: 20px;
  }

  &__headline {
    font-size: 0.85rem;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__description-wrapper {
    margin-bottom: 10px;
  }

  &__descriptor {
    text-transform: capitalize;
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
  }

  &__detail {
    margin-left: 0;
    display: inline-block;

    &:last-child {
      white-space: pre;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}