@import '../../../scss/variables';

.add {
  $parent: &;
  display: flex;
  align-items: center;
  position: relative;

  &:hover,
  &:focus-within {
    box-shadow: 0 6px 7px 1px rgba($green--dark, .2);
  }

  &__toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: rgba(white, .9);
    border-radius: inherit;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 26px;
      height: 2px;
      background: black;
    }

    &:before {
      transform: translate(-50%, -50%);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    #{$parent}--active & {
      display: none;
    }
  }

  &__content {
    visibility: hidden;
    padding: 20px;
    width: 100%;

    #{$parent}--active & {
      visibility: visible;
    }
  }

  &__headline {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  &__label-text {
    display: none;
  }

  &__input {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px 0;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-family: "Oxygen", sans-serif;
    color: white;
    caret-color: white;

    &::placeholder {
      color: inherit;
      font-weight: 300;
    }

    &:focus {
      outline: none;
    }
  }

  &__submit-btn {
    border: none;
    display: block;
    background: white;
    border-radius: 20px;
    margin: 20px auto 0;
    padding: 10px 25px;
    font-size: .75rem;
    color: $green--light;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "Oxygen", sans-serif;
    transition: box-shadow .2s ease-out;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: 0 3px 7px 1px rgba($green--dark, .2);
    }
  }
}